<div id="<%= dom_id todo %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= todo.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= todo.user_id %>
  </div>
</div>
